/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

/* Set every element's box-sizing to border-box */
/* * {
    box-sizing: border-box;
} */

/* html, body {
    height: 100%;
} */

/* h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}  */

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* * {
	color: black;
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 100px;
	font-weight: bold;
	line-height: 100px;
	text-align: center;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: bold;
}

p {
	font-size: 16px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	width: 1200px;
	height: 1000px;
}

 .header {
	
}


.container header nav a:hover {
	color: white;
}

.logo {

}

.intro-content .title {

}

.title {
}

button {
	border: 2px solid black;
	background: white;
	color: black;
	margin: 0 115px 0 115px;
	text-align: center;
	padding: 5px 20px 5px 20px;
}

button:hover {
	background: black;
	color: darkgray;
}

.header-img {
	
}

.features-content{
	
}

.about-content {
	
}

.content-img {
	
}

.services-content {
	
}

.product-content {
	
}

.vision-content {
	
}

.contact-content h3 {
	padding: 0;
	margin: 0 0 10px 0;
}

.contact-content address {
	line-height: 1;
} */

* {
	color: black;
}

html, body {
	height: 100%;
	margin: auto;
	padding: 10px;
}

h1 {
	font-family: 'Bangers', cursive;
	margin: auto;
	font-size: 30px;
	letter-spacing: 1px;
}

h2, h3 {
	font-family: 'Bangers', cursive;
	font-size: 20px;
}

p {
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
}

hr {
	border: 1px solid black;
}

.menubar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
  }
  
  nav {
	display: flex;
	justify-content: space-around;
	width: 50%;
  }
  
  nav a {
	display: flex;
	text-decoration: none;
	color: gray;
	font-size: 20px;
  }
  
  a:hover {
	color: black;
  }

  .header-image {
	display: block;
	margin: 0 auto;
  }

  .services {
	diplay: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  }
  
  .main-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 900px;
	justify-content: center;
  }
  
  .digital-design {
	background: lightgray;
	border: 1px solid black;
	display: flex;
	width: 500px;
	height: 250px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: auto;
	padding: 15px;
  }
  
  .ux-ui {
	background: lightgray;
	border: 1px solid black;
	display: flex;
	width: 500px;
	height: 250px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: auto;
	padding: 15px;
  }
  
  .digital-marketing {
	background: lightgray;
	border: 1px solid black;
	display: flex;
	width: 500px;
	height: 250px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: auto;
	padding: 15px;
  }
  
  .web-development {
	background: lightgray;
	border: 1px solid black;
	display: flex;
	width: 500px;
	height: 250px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: auto;
	padding: 15px;
  }
  
  .ios-development {
	background: lightgray;
	border: 1px solid black;
	display: flex;
	width: 500px;
	height: 250px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: auto;
	padding: 15px;
  }
  
  .android-development {
	background: lightgray;
	border: 1px solid black;
	display: flex;
	width: 500px;
	height: 250px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: auto;
	padding: 15px;
  }
  
  button {
	background: white;
	font-size: 12px;
	border: 1px solid black;
	border-radius: 5px;
	width: 150px;
	padding: 10px;
  }
  
  button:hover {
	background: gray;
	color: white;
  }
  
  .container-two {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 500px;
	justify-content: center;
  }
  
  .facts {
	
  }
  



  /* Box-model edits below */

/* 
header nav a {
	font-size: 25px;
	display: inline-block;
	color: gray;
	text-decoration: none;
	margin: 20px 50px 20px 50px;
}

.logo-image {
	float: right;
	margin: 20px;
}

.header-image {
	margin: 40px auto;
}

.services {
	height: 150px;
	width: 100%;
}

.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
} */

